html,
body
{
	width            : 100%;
	height           : 100%;
	margin           : 0;
	padding          : 0;
	box-sizing       : border-box;
	background-color : black;
}

a:active, a:visited, a:hover, a:link
{
	color           : white;
	text-decoration : none;
}

#canvas,
#circle1,
#circle2
{
	margin        : auto;
	border-radius : 50%;
	transform     : translate3d(0, 0, 0);
}

#circle1
{
	background-color : black;
}

#circle2
{
	overflow : hidden;
}

#canvas,
#circle1,
#circle2,
.disk
{
	position   : absolute;
	top        : 0;
	right      : 0;
	bottom     : 0;
	left       : 0;
	margin     : auto;
	box-sizing : border-box;
}

.disk
{
	width            : 50px;
	height           : 50px;
	margin           : 0;
	padding          : 0;
	border           : 5px solid black;
	border-radius    : 50%;
	background-color : white;
	transform        : translate3d(0, 0, 0);
}

#options,
#toggle-options
{
	display       : inline-block;
	padding       : 10px;
	font-weight   : 700;
	font-size     : 10px;
	border-radius : 0 0 10px 0;
	background    : gray;
	color         : white;
}

#options a,
#toggle-options a
{
	display : block;
	margin  : 0 0 10px -5px;
}

#toggle-options
{
	display : none;
}

#options.hide
{
	display : none;
}

#options.hide + #toggle-options
{
	display : inline-block;
}

label
{
	display : block;
}

input
{
	vertical-align : middle;
}

input[type="text"]
{
	font-size : 11px;
	transform : translate3d(0, 0, 0);
}

[name="colorbg"],
[name="colorborder"]
{
	width : 50px;
}

#circle1:fullscreen,
#canvas:fullscreen
{
	width     : 100% !important;
	height    : 100% !important;
	transform : scale(2.0);
}

:-ms-fullscreen#circle1
{
	width     : 100% !important;
	height    : 100% !important;
	transform : scale(2.0);
}
:-ms-full-screen#canvas
{
	transform : scale(4.0);
}

:-moz-full-screen#circle1
{
	width     : 100% !important;
	height    : 100% !important;
	transform : scale(2.0);
}
:-moz-full-screen#canvas
{
	transform : scale(2.0);
}

:-webkit-full-screen#circle1
{
	width     : 100% !important;
	height    : 100% !important;
	transform : scale(2.0);
}

:-webkit-full-screen#canvas
{
	transform : scale(4.0);
}

@media (max-width : 640px)
{
	#options
	{
		width         : 100%;
		border-radius : 0;
	}

	#container
	{
		overflow : hidden;
	}

	#circle1
	{
		position      : relative;
		right         : auto;
		bottom        : auto;
		width         : 100% !important;
		margin        : 0 0 0 -10px;
		border-radius : 0;
	}
}